.selecteurs .selectors h3 {
  color: #748cab;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.selecteurs .selectors h2 {
  color: #1d2d44;
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

.selecteurs .selectors p {
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.selecteurs .selectors .article .highlight {
  color: #f44336;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.selecteurs .selectors .highlight {
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.selecteurs .selectors {
  margin-left: 30px;
}
